/**
 * @name ayaka
 * @author KamiRu#4151
 * @version 2.6.9
 * @description Ayayayayayayay is the best
 * @authorId 174868361040232448
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
:root {
  --background-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124595172781596722/cbTXeyF.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124638764677992578/VCpjOln.jpg');
  --popout-image-blur: 0.5px;
  --popout-image-size: cover;
  --popout-image-position: center left;
  --overlay-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124674225672835072/KZELUi6.jpg');
  --overlay-image-blur: 0.5px;
  --overlay-image-size: cover;
  --overlay-image-position: top center;
  --home-button-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124687906984968322/cakD9P8.gif');
  --home-button-size: cover;
  --home-button-position: Bottom center;
  --serverlist-brightness: 0.65;
  --left-brightness: 0.65;
  --middle-brightness: 0.65;
  --right-brightness: 0.2;
  --overlay-brightness: 0.65;
  --gradient-primary: 33,150,243;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 235deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Nunito Sans;
  --window-padding: 0.5px;
  --window-roundness: 0px;
  --update-notice-1: none;
}
.appMount-2yBXZl .app-3xd6d0 {
    opacity: 0;
    transition: opacity 1.4s ease-in-out;
}

.appMount-2yBXZl:hover .app-3xd6d0 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.appMount-2yBXZl:after {
    content: "";
    position: fixed;
    background-color: #FCFAF9;
    background-image: url('https://media.tenor.com/IlJZmC2PwAgAAAAC/bongo-cat-ayaka-genshin.gif');
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 1;
    backdrop-filter: blur(3px);
    transition: opacity 1.0s ease-in-out, 0.5s;
}

.appMount-2yBXZl:hover:after {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 40px;
    height: 40px;
    left: 200px;
    margin-top: -40px;
    position: absolute;
    background-image: url('https://cdn.discordapp.com/emojis/1009411562571837450.gif?size=40&quality=lossless');

}.sprite-2lxwfc {
    filter: none !important;
   size: 20px;
    background: url('https://media.tenor.com/MMH9J6lhSNsAAAAi/ayaka-genshin.gif') center/contain no-repeat !important;
}
