/**
 * @name ayaka
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/
@import url('https://raw.githubusercontent.com/Ruhannn/discord-theme/main/css/popout.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124595172781596722/cbTXeyF.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124638764677992578/VCpjOln.jpg');
  --popout-image-blur: 0.5px;
  --popout-image-size: cover;
  --popout-image-position: center left;
  --overlay-image: url('https://cdn.discordapp.com/attachments/1065689957525630997/1124674225672835072/KZELUi6.jpg');
  --overlay-image-blur: 0.5px;
  --overlay-image-size: cover;
  --overlay-image-position: top center;
  --home-button-image: url('https://upload-os-bbs.hoyolab.com/upload/2022/03/21/8040671/91fd3a40b43948c89bc67bd9f20ea90e_362529073123980814.gif');
  --home-button-size: cover;
  --home-button-position: Bottom center;
  --serverlist-brightness: 0.65;
  --left-brightness: 0.65;
  --middle-brightness: 0.65;
  --right-brightness: 0;
  --overlay-brightness: 0.65;
  --gradient-primary: 33,150,243;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 235deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Nunito Sans;
  --window-padding: 0.5px;
  --window-roundness: 0px;
  --update-notice-1: none;
}