/**
@author KamiRu#4151
@version 2.6.9
* @description Stay comfy while talking to your friends
*/
@import "https://raw.githubusercontent.com/Ruhannn/discord-theme/main/comfy/main.css";
@import url("https://raw.githubusercontent.com/NYRI4/Discolored/master/main.css");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
  font-family: "Balsamiq Sans", cursive;
}
:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #096dc0;
  --avatar-radius: 25px;
  --status-radius: 25px;
  --server-radius: 12px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons: #7289da;
  --spotify-color: #1edc62;
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #7289da;
  --listening: #1db653;
  --role-circle: 5px;
  --discord-logo: none;
}
.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #7289da;

  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}
.theme-light {
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-accent: #9ca3bb;
  --modal-background: #d5d6db;
  --background-mobile-primary: #d5d6db;
  --background-mobile-secondary: #cecfd4;
  --channeltextarea-background: #b6b7bd;
  --background-message-hover: transparent;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --deprecated-card-bg: #12141f63;
  --background-floating: #c2c2c9;
  --deprecated-quickswitcher-input-background: #c2c2c9;
  --elevation-low: none;
  --scrollbar-auto-thumb: #141925;
  --scrollbar-auto-track: #b6b7bd;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #c2c2c9;
  --input-background: #cecfd4;
}
/* normal control for comfy*/
:root [class^="panels_"] > [class^="container_"] > [class^="avatarWrapper_"] {
  position: static;
}

:root
  [class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper_"]
  > [class^="avatar_"] {
  width: 32px !important;
  height: 32px !important;
}

:root
  [class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper_"]
  > [class^="avatar_"]
  foreignObject {
  width: 32px !important;
  height: 32px !important;
}

:root
  [class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper"]
  > [class^="avatar_"]
  [class^="pointerEvents_"] {
  x: 22px;
  y: 22px;
}

:root section[class^="panels_"] > [class^="container_"] {
  height: 52px;
  justify-content: space-between;
}

:root section[class^="panels_"] > [class^="container_"] > [class^="flex_"] {
  position: static;
  flex-direction: row;
  width: unset;
  z-index: unset;
  background: transparent;
  padding: 0;
}

:root
  [class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper"]
  > [class*="avatar_"]
  + [class*="nameTag_"] {
  display: block;
  max-width: 50px;
  /* max-width: 85px; */
}

:root
  section[class^="panels_"]
  > [class^="container_"]
  > [class^="flex_"]
  > [class^="button_"] {
  margin: auto;
}

:root nav [class^="guilds_"] [class^="scroller-"],
:root nav[class^="guilds_"] [class^="scroller_"] {
  padding-bottom: 0;
}

:root [class^="chat_"] [class^="form_"] {
  padding-left: 16px;
}

/* Spotify Controls */
#vc-spotify-progress-bar [class^="bar"] {
  height: 6px !important;
}

[id^="popout_"] [class^="bar"] {
  height: 4px !important;
}

[class*="vc-spotify-time"] {
  display: none !important;
}

#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
  margin-top: 1px !important;
}
/* transparent */
[class^="callContainer_"] {
    background-color: var(--background-tertiary);
}
