/**
@author KamiRu#4151
@version 2.6.9
* @description Stay comfy while talking to your friends
*/
@import "https://raw.githubusercontent.com/Ruhannn/discord-theme/main/comfy/main.css";
@import url("https://raw.githubusercontent.com/NYRI4/Discolored/master/main.css");
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
::-webkit-input-placeholder, body, button, input, select, textarea {
font-family: 'Balsamiq Sans', cursive;
}
:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #096dc0;
  --avatar-radius: 25px;
  --status-radius: 25px;
  --server-radius: 12px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons: #7289da;
  --spotify-color: #1edc62;
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #7289da;
  --listening: #1db653;
  --role-circle: 5px;
  --discord-logo: none;
}
.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #7289da;

  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}
.theme-light {
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-accent: #9ca3bb;
  --modal-background: #d5d6db;
  --background-mobile-primary: #d5d6db;
  --background-mobile-secondary: #cecfd4;
  --channeltextarea-background: #b6b7bd;
  --background-message-hover: transparent;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --deprecated-card-bg: #12141f63;
  --background-floating: #c2c2c9;
  --deprecated-quickswitcher-input-background: #c2c2c9;
  --elevation-low: none;
  --scrollbar-auto-thumb: #141925;
  --scrollbar-auto-track: #b6b7bd;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #c2c2c9;
  --input-background: #cecfd4;
}
.appMount-2yBXZl .app-3xd6d0 { opacity: 0; transition: 1.4s;}
.appMount-2yBXZl:hover .app-3xd6d0 { opacity: 1; transition: 0.30s;}
.appMount-2yBXZl:after {
    content: "";
    position: fixed;
    background: url('https://live.staticflickr.com/65535/52942368942_60bc551e26_o.gif') center/15% no-repeat;
    width: 100%; height: 100%;
    opacity: 1;backdrop-filter: blur(3px);
}
.appMount-2yBXZl:hover:after { opacity: 0; pointer-events: none;}
/*uu*/
.vc-bf-folder-sidebar + .base-2jDfDU .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  left: 400px;
}
.sprite-2lxwfc {
    filter: none !important;
    background: url('https://cdn.discordapp.com/emojis/1010211267451031552.gif') center/contain no-repeat !important;
}

/*uu*/
/*chat box*/
.channelTextArea-1FufC0 .buttons-uaqb-5 > * { position: relative; top: -44px;}
.channelTextArea-1FufC0:hover .buttons-uaqb-5 > * { top: 0;}

.channelTextArea-1FufC0 .buttons-uaqb-5 > :first-child { transition: top 300ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :nth-child(2) { transition: top 250ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :nth-child(3) { transition: top 200ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :last-child { transition: top 150ms;}
/*normal buttons*/
:root section.panels-3wFtMD > .container-YkUktl { height: 52px;}

:root section.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
  position: static;
  flex-direction: row;
  width: 100%;
  z-index: unset;
  background: transparent;
  padding: 0;
}
:root section.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > .button-12Fmur { margin: auto;}
:root nav.guilds-2JjMmN .scroller-2TZvBN, :root nav.guilds-2JjMmN .scroller-3X7KbA { padding-bottom: 0;}
/*gg*/
.circleIconButton-1VxDrg {
    color: #6E84D2;
    background-color: #6E84D2!important;
}
/* hehe */
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {position: static;}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD {
    width: 32px !important;
    height: 32px !important;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD foreignObject {
    width: 32px !important;
    height: 32px !important;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD .pointerEvents-2KjWnj {
    x: 22px;
    y: 22px;
}
:root section.panels-3wFtMD > .container-YkUktl { 
    height: 52px;
    justify-content: space-between;
}
:root section.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
  position: static;
  flex-direction: row;
  width: unset;
  z-index: unset;
  background: transparent;
  padding: 0;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD + .nameTag-sc-gpq {display: block;max-width: 85px;}
:root section.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > .button-12Fmur { margin: auto;}
:root nav.guilds-2JjMmN .scroller-2TZvBN, :root nav.guilds-2JjMmN .scroller-3X7KbA { padding-bottom: 0;}
:root .chat-2ZfjoI .form-3gdLxP { padding-left: 16px;}
:root .chat-2ZfjoI .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h::after, :root .chat-2ZfjoI .form-3gdLxP .wrapper-2SplAX::after { content: none;}
/*transparent call background*/
.wrapper-1gVUIN, .minimum-fXpVNc, .callContainer-HtHELf  {
  background: none!important;
}
