@import url(https://zuzumi-f.github.io/Discord-11/base.css);

@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubbleleft.css);

:root {
    --wallpaper-is: url(https://zuzumi-f.github.io/Discord-11/release/img19.jpg); 
    --blur-size: 24px;
    --opacity-thing: 0.6;
    --server-size: 48px;
      
    --H: 199;
    --S: 100%;
    --L: 69%;
}
