@import url(https://zuzumi-f.github.io/Discord-11/base.css);

@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubbleleft.css);

:root {
    --wallpaper-is: url(https://zuzumi-f.github.io/Discord-11/release/img19.jpg); 
    --blur-size: 24px; /* Amount of blur in pixels [24px is default] */
    --opacity-thing: 0.6; /* Value from 0 to 1 [0.6 is default] */
    --server-size: 48px; /* The size of the server icons [48px is default] */
      
    --H: 199; /* Value only number [199 is default] */
    --S: 100%; /* Value in % [100% is default] */
    --L: 69%; /* Value in % [69% is default] */
}
