@import url("https://dracula.github.io/betterdiscord/base.css");
:root {
 --channeltextarea-rounding: 25px;
--channeltextarea-background: var(--background-secondary-alt);
--channeltextarea-border: var(--background-secondary);
--channeltextarea-button-rounding: 50%;
--channeltextarea-button-icon: var(--interactive-normal);
--channeltextarea-button-background: var(--channeltextarea-background);
--channeltextarea-button-hover: var(--background-tertiary);
--channeltextarea-caret: var(--brand-experiment-400);
--channeltextarea-sendbutton-icon: var(--brand-experiment-130);
--channeltextarea-sendbutton-background: var(--brand-experiment);
--channeltextarea-sendbutton-hover: var(--brand-experiment-460);
--channeltextarea-sendbutton-active: var(--brand-experiment-530);
}
.channelTextArea-1FufC0 .buttons-uaqb-5 > * { position: relative; top: -44px;}
.channelTextArea-1FufC0:hover .buttons-uaqb-5 > * { top: 0;}

.channelTextArea-1FufC0 .buttons-uaqb-5 > :first-child { transition: top 300ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :nth-child(2) { transition: top 250ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :nth-child(3) { transition: top 200ms;}
.channelTextArea-1FufC0 .buttons-uaqb-5 > :last-child { transition: top 150ms;}
