
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);
:root {
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://live.staticflickr.com/65535/52934146147_977b5a4fa4_o.gif);
  --fluent-acrylic-background-blur: 24px;
  --fluent-acrylic-background-dimness: 75%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 24px;
}
