/**
* @name Animal Crossing
* @author Nyria#3863
* @description Variant theme of LilyPichu (I'm sure Mallory Loar would like it)
* @invite rtBQX5D3bD
* @version 1.0
*/

@import url("https://nyri4.github.io/LilyPichu/main.css");

:root .app-2CXKsg::before { background: url('https://i.imgur.com/rMqPYyz.png') center/90% no-repeat;}

@media (min-width: 1200px) {
    .container-1eFtFS::before { width: 320px; right: 60px; background: url('https://i.imgur.com/Vmi8p9W.png') bottom/120% no-repeat;}
    .container-1eFtFS::after { display: block; padding-top: 30px; content: "A relaxing \a adventure"; white-space: pre; line-height: 40px;}
}

:root .app-3xd6d0::before, :root .app-3xd6d0::after { display: none;}

:root .app-2CXKsg::after { 
    background: url("https://i.imgur.com/OBQ8jfX.png") no-repeat;
    background-size: 91%;
}

:root .layers-OrUESM::after { 
    background: url("https://i.imgur.com/lFBPe6G.png") no-repeat;
    background-size: 97%;
}

:root .layers-OrUESM::before {
    background: url("https://i.imgur.com/9QHnAY4.png") no-repeat;
    background-size: 100%;
    right: -3px;
}

:root .bg-1QIAus::after { 
    background: url("https://i.imgur.com/LLatCBa.png") no-repeat;
    background-size: 92%;
}

:root .bg-1QIAus::before { 
    background: url("https://i.imgur.com/er9oOd3.png") no-repeat;
    background-size: 100%;
}

.userPopout-2j1gM4, .guilds-2JjMmN .scroller-3X7KbA { background: url("https://i.imgur.com/2gxuFGV.jpg");}
.userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k { background: none;}

:root {

/* --- User variables --- */

/* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: url("https://i.imgur.com/jYJjOh9.jpg");

/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #f8e6e1;
    --header-primary: #f8e6e1;
    --interactive-normal: #fac2b1;
    --channels-default: #f8e6e1;

    --text-muted: #e2c9c1;
    --interactive-muted: #ad948c;

    --header-secondary: #e2c9c1;
    --interactive-hover: #e2c9c1;
    --interactive-active: #e2c9c1;

    /* Background color */
    --background-primary: #5e3f36;
    --background-secondary: #492f29;
    --background-secondary-alt: #3b241d;
    --background-tertiary: #22130f;
    --background-floating: #221411;
    --background-accent: #c57353;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #5e3636 !important;
    --toast-header: #3b1d1d !important;
    --toast-contents: #492929 !important;
    --toast-border: #492929 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: #c5536c;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #c5536c !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #b64a61 !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

.theme-light {

    /* Text */
    --text-normal: #81725d;
    --header-primary: #81725d;
    --interactive-normal: #81725d;
    --channels-default: #81725d;

    --text-muted: #81725d;
    --interactive-muted: #a1927b;

    --header-secondary: #a1927b;
    --interactive-hover: #9b8c75;
    --interactive-active: #9b8c75;

    /* Background color */
    --background-primary: #eceed8;
    --background-secondary: #e9e4bc;
    --background-secondary-alt: #dcd1a3;
    --background-tertiary: #beb488;
    --background-floating: #dcd1a3;
    --background-accent: #edc35d;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-3cPPsm { color: #edc35d;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #edc35d !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #dfb44f !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #edc35d; border-color: #edc35d;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
