@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://maendisease.github.io/Outlook/illustrations/homeimage-default.avif');
  --accent-hue: 200;
  --accent-saturation: 99%;
  --accent-brightness: 40%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 3.6;
  --gradient-saturation: 100%;
  --gradient-deg: 0deg;
  --customFont: Noto Sans Nag Mundari;
}


